<div class="container">
    <div  class="row">
        <h6 class="mt-2 ml-3">Mostar otros productos </h6>
        <label class="switch ml-3">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="card sombra">
        <div class="card-body">
            <div class="row">
                <h4>¿Cómo se ven tus finanzas?</h4>

                    <span class="ml-5 row justify-content-end"><i class="fas fa-chevron-left"></i>En productos</span>
                    <span class="ml-5 row">de ahorro tienes:</span>
                    <p class="ml-4">$ 2.351.000,0 <i class="fas fa-chevron-right"></i></p>

            </div>      
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 ml-5">
            <div class="card ml-3 mt-4 sombra" style="width: 18rem;">
                <div class="card-body">
                    <img class=" mb-3" src="assets/Captura.PNG" width="80" height="40">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        
        
    </div>

</div>